# NLP - Corretor ortográfico

## Preparação dos dados

In [1]:
# Imports necessários
import pandas as pd
import numpy as np
import re

In [2]:
# Realizando a leitura dos dados e vizualização
df = pd.read_csv('Trabalho/movie_review.csv')
df = df['text']
df.head()

0    films adapted from comic books have had plenty...
1    for starters , it was created by alan moore ( ...
2    to say moore and campbell thoroughly researche...
3    the book ( or " graphic novel , " if you will ...
4    in other words , don't dismiss this film becau...
Name: text, dtype: object

In [31]:
# Removendo pontuação e caracteres especiais com regex e passando para minusculos
lista_frases = [re.sub('[^a-z ]','',text).lower().split(' ') for text in df] 

# Montando corpus
corpus = [palavra for frase in lista_frases for palavra in frase]
corpus = pd.DataFrame(corpus)
corpus = corpus.dropna()

# Montando dicionario de palavra
dicionario = pd.DataFrame(corpus)
dicionario = dicionario.drop_duplicates()
dicionario = dicionario.dropna()

## Visualização dos dataframes

In [32]:
# Visualização do corpus
corpus.head()

         0
0    films
1  adapted
2     from
3    comic
4    books

In [33]:
# Visualização do dicionário
dicionario.head()

         0
0    films
1  adapted
2     from
3    comic
4    books

In [34]:
#Verificando tamanho do corpus e do dicionário
print('Tamanho do corpus:',len(corpus))
print('Tamanho do dicionario:',len(dicionario))

Tamanho do corpus: 1492681
Tamanho do dicionario: 46788

# Montando corretor ortográfico

In [93]:
# Requisita 
#frase = input('Type a phrase\n')
frase = 'films book glass hoje'
lista_palavras_digitada = [palavra for palavra in frase.split(' ')]

In [94]:
# Verifica se cada palavra digitada está no dicionário
print(lista_palavras_digitada)
print(type(lista_palavras_digitada))
print(type(dicionario[0]))


palavras = [palavra for palavra in lista_palavras_digitada if palavra in dicionario.values]

['films', 'book', 'glass', 'hoje']
<class 'list'>
<class 'pandas.core.series.Series'>

In [95]:
print(palavras)
print(len(palavras))

['films', 'book', 'glass']
3