#### RM:332439
#### Nome: Jonny Silva Canatto

In [1]:
#Imports
import pandas as pd
import numpy as np
import math as mat
from sklearn.feature_extraction.text import CountVectorizer

# Tratamento do dataset

In [2]:
# Leitura do CSV e visualização do Dataframe
df = pd.read_csv('movies.csv')
df = df['title']
df.head()

0                      Toy Story (1995)
1                        Jumanji (1995)
2               Grumpier Old Men (1995)
3              Waiting to Exhale (1995)
4    Father of the Bride Part II (1995)
Name: title, dtype: object

In [3]:
#Remoção do ano no título
df2 = [title.split('(')[0].lower().strip() for title in df]
data = pd.DataFrame({'title':df2})
data.head()

                         title
0                    toy story
1                      jumanji
2             grumpier old men
3            waiting to exhale
4  father of the bride part ii

# Implementando Bayes

In [4]:
#Querys da busca
querys = ['toy story','the lion king','alladin','beauty and the best','cinderella','little mermaid','hercules']
print(type(querys))

<class 'list'>

In [26]:
#Monta DTM do corpus
vect = CountVectorizer(ngram_range=(1,1))
vect.fit(data['title'])
text_vect = vect.transform(data['title'])
dtm = pd.DataFrame(text_vect.toarray(), columns=vect.get_feature_names()).T

#Monta DTM do vetor de caracteristicas
vect = CountVectorizer(ngram_range=(1,1))
vect.fit(querys)
text_vect = vect.transform(querys)
vet_caract = pd.DataFrame(text_vect.toarray(), columns=vect.get_feature_names()).T

In [28]:
# Calculando o score
c = 2
X = dtm
m = np.mean(X)
b = c * (1 - m)
a = c * m
a_ = a + sum(xij)
b_ = b + 
xij = vet_caract

In [13]:
print(a)

0        0.000256
1        0.000128
2        0.000384
3        0.000384
4        0.000767
5        0.000128
6        0.000128
7        0.000384
8        0.000256
9        0.000128
10       0.000384
11       0.000639
12       0.000128
13       0.000128
14       0.000256
15       0.000128
16       0.000384
17       0.000256
18       0.000639
19       0.000256
20       0.000256
21       0.000128
22       0.000128
23       0.000128
24       0.000384
25       0.000128
26       0.000384
27       0.000128
28       0.000639
29       0.000256
           ...
27248    0.000384
27249    0.000256
27250    0.000767
27251    0.000384
27252    0.000767
27253    0.000512
27254    0.000256
27255    0.000767
27256    0.000639
27257    0.000384
27258    0.000384
27259    0.000128
27260    0.000128
27261    0.000256
27262    0.000128
27263    0.000256
27264    0.000384
27265    0.000128
27266    0.000512
27267    0.000384
27268    0.000512
27269    0.000512
27270    0.000256
27271    0.000384
27272    0.001151
27273    0.000512
27274    0.000384
27275    0.000256
27276    0.000256
27277    0.000128
Length: 27278, dtype: float64