#### RM:332439
#### Nome: Jonny Silva Canatto

In [52]:
#Imports
import pandas as pd
import numpy as np
import math as mat
from sklearn.feature_extraction.text import CountVectorizer

# Tratamento do dataset

In [2]:
# Leitura do CSV e visualização do Dataframe
df = pd.read_csv('movies.csv')
df = df['title']
df.head()

0                      Toy Story (1995)
1                        Jumanji (1995)
2               Grumpier Old Men (1995)
3              Waiting to Exhale (1995)
4    Father of the Bride Part II (1995)
Name: title, dtype: object

In [34]:
#Remoção do ano no título
df2 = [title.split('(')[0].lower().strip() for title in df]
data = pd.DataFrame({'title':df2})
data.head()

                         title
0                    toy story
1                      jumanji
2             grumpier old men
3            waiting to exhale
4  father of the bride part ii

# Implementando Bayes

In [35]:
#Querys da busca
querys = ['toy story','the lion king','alladin','beauty and the best','cinderella','little mermaid','hercules']
print(type(querys))

<class 'list'>

In [39]:
#Monta DTM do corpus
vect = CountVectorizer(ngram_range=(1,1))
vect.fit(data['title'])
text_vect = vect.transform(data['title'])
dtm = pd.DataFrame(text_vect.toarray(), columns=vect.get_feature_names()).T
dtm.head()

,0,1,2,3,4,5,6,7,8,9,...,27268,27269,27270,27271,27272,27273,27274,27275,27276,27277
000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
007,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
# Calculando o score
C = 2
X = np.mean(vect)
s = nc + X*q
q = mat.log(a_) - mat.log(a) - mat.log(B_) + mat.log(B)
a = c * m
b = c * (1 - m)
a_ =
b_ = 
xij = dtm

0.6931471805599453